<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Outfit app</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <form>
Zip Code:<br>
<input type="text" name="zip_code" placeholder="#">
<br>
Occassion:<br>
<input type="text" name="occasion" placeholder="Formal/Casual etc.">
<br>

<input type="submit" value="Submit">
</form>
 <form>
<input type="radio" name="sex" value="male" checked>Male
<br>
<input type="radio" name="sex" value="female">Female
</form>  
   
 </body>
</html>