<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Outfit app</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <form action="/outfit" method="post">
     Zip Code:<br> 
     <input type="text" name="zip_code" placeholder="Zip Code"><br>
     
     <input type="submit" value="Submit">
   </form>  
   
 </body>
</html>