<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
   <h2> Hat </h2> <br>
   <img src= "<%= @outfit.finalize[:hat] %>" >
 </body>
</html>