<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 </head>
 <body>
   <h2> Hat: <%= @outfit.finalize[:hat][:name] %> </h2> <br>
   <img src= "<%= @outfit.finalize[:hat][:img] %>">
   <br><br>
 </body>
</html>