@import url(http://fonts.googleapis.com/css?family=PT+Serif|Lobster);


body {
  background-image: url("../images/backgrounds-for-nature-desktop-wallpaper-tumblr-vintage-desktop-picture-tumblr-wallpaper.jpg");
  color: white;
font-family: 'Lobster', cursive;
  text-align: center;
}




